Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|PyTest

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

refactor: address review
  include/pybind11/detail/type_caster_base.h
  include/pybind11/pybind11.h
  tests/CMakeLists.txt
Due: disallow-caps, check-style

fix: improve support for Python 3.11-dev (#3368)
  .github/workflows/ci.yml
  .github/workflows/pip.yml
  CMakeLists.txt
  include/pybind11/detail/type_caster_base.h
  include/pybind11/pybind11.h
  noxfile.py
  tests/CMakeLists.txt
  tests/requirements.txt
  tools/pybind11Tools.cmake
Due: disallow-caps, check-style

docs: changelog update for 2.8.1
  docs/changelog.rst
Due: disallow-caps

Tracking ci.yml changes from master.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Take args/kwargs by const lvalue ref
  tests/test_kwargs_and_defaults.cpp
Due: disallow-caps, check-style

ci: support development releases of Python
  .github/workflows/ci.yml
  .github/workflows/upstream.yml
Due: disallow-caps

return_value_policy_override fix: also enable for type_uses_smart_holder_type_caster
  include/pybind11/cast.h
Due: disallow-caps, check-style

fix(build): support conan's multiple includes of all files
  tools/pybind11Common.cmake
  tools/pybind11NewTools.cmake
  tools/pybind11Tools.cmake
Due: disallow-caps

fix(build): support conan's multiple includes of all files (#3420)
  tools/pybind11Common.cmake
  tools/pybind11NewTools.cmake
  tools/pybind11Tools.cmake
Due: disallow-caps

chore: add one more entry
  docs/changelog.rst
Due: disallow-caps

docs: changelog update for 2.8.1 (#3416)
  docs/changelog.rst
Due: disallow-caps

fix: better PyPy support
  include/pybind11/eval.h
  tests/requirements.txt
  tests/test_buffers.py
  tests/test_builtin_casters.py
  tests/test_embed/CMakeLists.txt
Due: disallow-caps, check-style

[skip ci] Tweaks in preparation for the 2.8.1 release.
  docs/changelog.rst
  docs/release.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

[skip ci] Tweaks in preparation for the 2.8.1 release. (#3421)
  docs/changelog.rst
  docs/release.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

chore: get back to work after 2.8.1
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

docs: touch up manual release suggestion
  docs/release.rst
  noxfile.py
Due: disallow-caps

fix: patch over a few more pypy issues
  include/pybind11/cast.h
  tests/test_buffers.py
  tests/test_exceptions.py
Due: disallow-caps, check-style

docs: rework CI a bit, more modern skipping
  .github/workflows/ci.yml
  docs/Doxyfile
  docs/requirements.txt
  include/pybind11/pytypes.h
  noxfile.py
Due: disallow-caps, check-style

feat: allow kw-only args after a py::args (#3402)
  docs/advanced/functions.rst
  include/pybind11/attr.h
  include/pybind11/cast.h
  include/pybind11/pybind11.h
  tests/test_kwargs_and_defaults.cpp
  tests/test_kwargs_and_defaults.py
Due: disallow-caps, check-style

Update basics.rst
  docs/basics.rst
Due: disallow-caps

Correct "which" versus "that" error.
  docs/basics.rst
Due: disallow-caps

Correct "which" versus "that" error. (#3430)
  docs/basics.rst
Due: disallow-caps

Update blacken-docs too
  .pre-commit-config.yaml
Due: none

Updated bug in Object oriented examples
  docs/classes.rst
Due: disallow-caps

Don't add -g0 to Pybind11Extension if $CFLAGS sets -g.
  pybind11/setup_helpers.py
  tests/extra_setuptools/test_setuphelper.py
Due: disallow-caps

fix: add missing std::forward calls
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

add test for https://github.com/pybind/pybind11/pull/3443
  tests/test_methods_and_attributes.cpp
Due: disallow-caps, check-style

docs: touch up manual release suggestion (#3422)
  docs/release.rst
  noxfile.py
Due: disallow-caps

add py tests
  tests/test_methods_and_attributes.cpp
  tests/test_methods_and_attributes.py
Due: disallow-caps, check-style

fix test
  tests/test_methods_and_attributes.cpp
Due: disallow-caps, check-style

fix: add missing std::forward calls (#3443)
  include/pybind11/pybind11.h
  tests/test_methods_and_attributes.cpp
  tests/test_methods_and_attributes.py
Due: disallow-caps, check-style

fix(setup =_helpers): don't add -g0 CFLAGS sets -g (#3436)
  pybind11/setup_helpers.py
  tests/extra_setuptools/test_setuphelper.py
Due: disallow-caps

docs: rework CI a bit, more modern skipping (#3424)
  .github/workflows/ci.yml
  docs/Doxyfile
  docs/requirements.txt
  include/pybind11/pytypes.h
  noxfile.py
Due: disallow-caps, check-style

Try to patch
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Properly follow pep667
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Fix typo
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Whoops, 667 not in yet
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

For testing
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

More testing
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Try to backport
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
