Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    # By default, this ignores pyi files, though black supports them
    types: [text]
    files: \.pyi?$

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.9
  hooks:
  - id: remove-tabs

# Flake8 also supports pre-commit natively (same author)
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, pep8-naming]
    exclude: ^(docs/.*|tools/.*)$

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.800
  hooks:
  - id: mypy
    # The default Python type ignores .pyi files, so let's rerun if detected
    types: [text]
    files: ^pybind11.*\.pyi?$
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.46"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

docs: remove recommonmark (#2955)
  docs/requirements.txt
Due: disallow-caps

Fix compilation with gcc < 5
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Adding section: Classic / Conservative / Progressive cross-module compatibility
  README_smart_holder.rst
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

Connecting PYBIND11_INTERNALS_VERSION to PYBIND11_USE_SMART_HOLDER_AS_DEFAULT. (#2939)
  README_smart_holder.rst
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

Bug fix: adding back `!is_alias<Class>(ptr)` that were accidentally omitted.
  include/pybind11/detail/init.h
Due: disallow-caps, check-style

Eric's suggested changes: simplify testing; shift def's
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
  include/pybind11/stl.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

tests: Skip/enable tests more explicitly (in lieu of `hasattr`)
  tests/test_builtin_casters.cpp
  tests/test_builtin_casters.py
  tests/test_call_policies.cpp
  tests/test_call_policies.py
  tests/test_class.cpp
  tests/test_class.py
  tests/test_pytypes.cpp
  tests/test_pytypes.py
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

Introducing PYBIND11_SH_AVL, PYBIND11_SH_DEF macros. Applying PYBIND11_SH_DEF to test_factory_constructors.py to complete test coverage.
  README_smart_holder.rst
  include/pybind11/pybind11.h
  include/pybind11/smart_holder.h
  tests/test_classh_mock.cpp
  tests/test_classh_mock.py
  tests/test_factory_constructors.cpp
  tests/test_factory_constructors.py
Due: disallow-caps, check-style

Only test for libstdc++ specialty
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Using PYBIND11_SH_DEF in test_methods_and_attributes.cpp, for more complete test coverage.
  tests/test_methods_and_attributes.cpp
  tests/test_methods_and_attributes.py
Due: disallow-caps, check-style

Using PYBIND11_SH_DEF in test_multiple_inheritance.cpp, for more complete test coverage.
  tests/test_multiple_inheritance.cpp
Due: disallow-caps, check-style

Cleaning up test_classh_mock.cpp.
  tests/test_classh_mock.cpp
  tests/test_classh_mock.py
Due: disallow-caps, check-style

Better explanations for PYBIND11_SH_AVL, PYBIND11_SH_DEF.
  README_smart_holder.rst
Due: disallow-caps

Disabling 3.10-dev builds.
  .github/workflows/ci.yml
Due: disallow-caps

define PYBIND11_USE_SMART_HOLDER_AS_DEFAULT
  include/pybind11/detail/smart_holder_sfinae_hooks_only.h
Due: disallow-caps, check-style

Fix compilation with gcc < 5 (#2956)
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Bug fix: adding back `!is_alias<Class>(ptr)` that were accidentally omitted. (#2958)
  .github/workflows/ci.yml
  README_smart_holder.rst
  include/pybind11/detail/init.h
  include/pybind11/pybind11.h
  include/pybind11/smart_holder.h
  tests/test_classh_mock.cpp
  tests/test_classh_mock.py
  tests/test_factory_constructors.cpp
  tests/test_factory_constructors.py
  tests/test_methods_and_attributes.cpp
  tests/test_methods_and_attributes.py
  tests/test_multiple_inheritance.cpp
Due: disallow-caps, check-style

Temporarily disabling 3.10-dev jobs.
  .github/workflows/ci.yml
Due: disallow-caps

Adding ci_sh_def.yml, based on PR #2930.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
  README_smart_holder.rst
Due: disallow-caps

Adding exludes for .patch files.
  .pre-commit-config.yaml
Due: none

Adding CI-SH-DEF GitHub Actions workflow, based on PR #2930. (#2963)
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
  .pre-commit-config.yaml
  README_smart_holder.rst
Due: disallow-caps

Add helper to build in-tree extensions.
  docs/compiling.rst
  pybind11/setup_helpers.py
  pybind11/setup_helpers.pyi
  tests/extra_setuptools/test_setuphelper.py
Due: disallow-caps

tests: use master commit for pytest on 3.10
  tests/requirements.txt
Due: disallow-caps

tests: use master commit for pytest on 3.10 (#2967)
  tests/requirements.txt
Due: disallow-caps

Re-enabling Python 3.10-dev jobs, made possible by PR #2967. Pushing directly because this just affects the CI config.
  .github/workflows/ci.yml
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

ci: install Boost for boost check
  .github/workflows/ci.yml
Due: disallow-caps

ci: install Boost for boost checks (#2968)
  .github/workflows/ci.yml
Due: disallow-caps

Adding link to PR #2644. Pushing directly for this minor addition to the documentation.
  README_smart_holder.rst
Due: disallow-caps

Updating ci_sh_def.yml, ci_sh_def.yml.patch after `git merge master`. Pushing directly for this mechanical update.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Extra any_container constructor
  include/pybind11/detail/common.h
  tests/test_numpy_array.cpp
Due: disallow-caps, check-style

Reduce braces (clang-3.6 warning)
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Crash when printing Unicode to redirected cout Add failing tests
  tests/test_iostream.py
Due: disallow-caps

Fix Unicode crashes redirected cout
  include/pybind11/iostream.h
Due: disallow-caps, check-style

pythonbuf::utf8_remainder check end iterator
  include/pybind11/iostream.h
Due: disallow-caps, check-style

Remove trailing whitespace and formatting iostream
  include/pybind11/iostream.h
  tests/test_iostream.py
Due: disallow-caps, check-style

Splitting out include/pybind11/detail/pragma_warning_block.h
  CMakeLists.txt
  include/pybind11/detail/common.h
  include/pybind11/detail/pragma_warning_block.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/pybind11.h
  tests/extra_python_package/test_files.py
Due: disallow-caps, check-style

Fixing silly oversight.
  CMakeLists.txt
  tests/extra_python_package/test_files.py
Due: disallow-caps

Always including pragma_warning_block.h before common.h (to resolve 8 CI failures, hopefully).
  include/pybind11/detail/dynamic_raw_ptr_cast_if_possible.h
  include/pybind11/detail/smart_holder_sfinae_hooks_only.h
  include/pybind11/smart_holder.h
  include/pybind11/trampoline_self_life_support.h
Due: disallow-caps, check-style

Fix Unicode support for ostream redirects (#2982)
  include/pybind11/iostream.h
  tests/test_iostream.py
Due: disallow-caps, check-style

Splitting out include/pybind11/detail/pragma_warning_block.h (#2988)
  CMakeLists.txt
  include/pybind11/detail/common.h
  include/pybind11/detail/dynamic_raw_ptr_cast_if_possible.h
  include/pybind11/detail/pragma_warning_block.h
  include/pybind11/detail/smart_holder_sfinae_hooks_only.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/pybind11.h
  include/pybind11/smart_holder.h
  include/pybind11/trampoline_self_life_support.h
  tests/extra_python_package/test_files.py
Due: disallow-caps, check-style
