Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma
    exclude: ^noxfile.py$

- repo: https://github.com/asottile/pyupgrade
  rev: v2.26.0
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 21.9b0 # Keep in sync with blacken-docs
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.11.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==21.9b0 # keep in sync with black hook

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.0.3
  hooks:
  - id: pycln

# Flake8 also supports pre-commit natively (same author)
- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, pep8-naming]
    exclude: ^(docs/.*|tools/.*)$

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910
  hooks:
  - id: mypy
    # The default Python type ignores .pyi files, so let's rerun if detected
    types: [text]
    files: ^pybind11.*\.pyi?$
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false
    additional_dependencies: [typed_ast]

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ".supp$"
    args: ["-L", "nd,ot,thist"]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.7.2.1
  hooks:
  - id: shellcheck

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|PyTest
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

docs: update CHANGELOG (#3304)
  docs/changelog.rst
Due: disallow-caps

fix typo
  docs/compiling.rst
Due: disallow-caps

docs: fix minor typo (#3311)
  docs/compiling.rst
Due: disallow-caps

docs: mention title conventions in PR template
  .github/pull_request_template.md
Due: disallow-caps

Docs: Demonstrate non-enum internal types in example
  docs/classes.rst
Due: disallow-caps

Include <algorithm> to fix C++11 build
  include/pybind11/detail/class.h
Due: disallow-caps, check-style

docs: mention title conventions in PR template (#3313)
  .github/pull_request_template.md
Due: disallow-caps

Docs: Demonstrate non-enum internal types in example (#3314)
  docs/classes.rst
Due: disallow-caps

Take py::object by const reference in __contains__
  include/pybind11/stl_bind.h
Due: disallow-caps, check-style

bind_map: support any object in __contains__
  include/pybind11/stl_bind.h
  tests/test_stl_binders.py
Due: disallow-caps, check-style

Add `.keys` and `.values` to bind_map
  include/pybind11/stl_bind.h
  tests/test_stl_binders.py
Due: disallow-caps, check-style

Removing stray `py::` (detected via interactive testing in Google environment).
  include/pybind11/stl_bind.h
Due: disallow-caps, check-style

feat: add `.keys` and `.values` to bind_map (#3310)
  include/pybind11/stl_bind.h
  tests/test_stl_binders.py
Due: disallow-caps, check-style

Disambiguate free() to use std::free()
  include/pybind11/pybind11.h
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

Add cstdlib include
  include/pybind11/pybind11.h
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

fix: replace free() with std::free() (#3321)
  include/pybind11/pybind11.h
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

tests: support Eigen configuration
  tests/CMakeLists.txt
Due: disallow-caps

All `-DDOWNLOAD_EIGEN=OFF` (to work around gitlab eigen outage).
  .github/workflows/ci.yml
  .github/workflows/format.yml
Due: disallow-caps

docs: update CHANGELOG for 2.8
  docs/changelog.rst
Due: disallow-caps

ci: disable Eigen due to Cert issue on CentOS
  .github/workflows/ci.yml
Due: disallow-caps

chore: version 2.8.0 final
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

Revert "All `-DDOWNLOAD_EIGEN=OFF` (to work around gitlab eigen outage)."
  .github/workflows/ci.yml
  .github/workflows/format.yml
Due: disallow-caps

Revert "All `-DDOWNLOAD_EIGEN=OFF` (to work around gitlab eigen outage)." (#3326)
  .github/workflows/ci.yml
  .github/workflows/format.yml
Due: disallow-caps

chore: get back to work after 2.8.0
  docs/changelog.rst
  docs/release.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

Tracking ci.yml changes from master.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Fix STL optional casting issue
  include/pybind11/stl.h
Due: disallow-caps, check-style

Add additional pygrep pre-commit hooks
  .pre-commit-config.yaml
Due: none

Remove useless noqas with hook
  .pre-commit-config.yaml
  tests/test_buffers.py
  tests/test_builtin_casters.py
  tests/test_callbacks.py
  tests/test_enum.py
  tests/test_methods_and_attributes.py
  tests/test_pickling.py
  tests/test_pytypes.py
  tests/test_stl_binders.py
Due: disallow-caps

Fix all single rst backticks
  .pre-commit-config.yaml
  docs/advanced/classes.rst
  docs/advanced/embedding.rst
  docs/advanced/exceptions.rst
  docs/advanced/functions.rst
  docs/advanced/misc.rst
  docs/advanced/pycpp/utilities.rst
  docs/changelog.rst
Due: disallow-caps

Simplify mypy pre-commit hook with upstream fixes
  .pre-commit-config.yaml
Due: none

Add back missing comment
  .pre-commit-config.yaml
Due: none

Add one last pygrep hook
  .pre-commit-config.yaml
Due: none

Fix some formatting in the v2.8.0 changelog
  docs/changelog.rst
Due: disallow-caps

Fix some formatting in the v2.8.0 changelog (#3339)
  docs/changelog.rst
Due: disallow-caps

maint: Add additional linter-related pre-commit hooks (#3337)
  .pre-commit-config.yaml
  docs/advanced/classes.rst
  docs/advanced/embedding.rst
  docs/advanced/exceptions.rst
  docs/advanced/functions.rst
  docs/advanced/misc.rst
  docs/advanced/pycpp/utilities.rst
  docs/changelog.rst
  tests/test_buffers.py
  tests/test_builtin_casters.py
  tests/test_callbacks.py
  tests/test_enum.py
  tests/test_methods_and_attributes.py
  tests/test_pickling.py
  tests/test_pytypes.py
  tests/test_stl_binders.py
Due: disallow-caps
