Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma
    exclude: ^noxfile.py$

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 21.9b0 # Keep in sync with blacken-docs
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.11.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==21.9b0 # keep in sync with black hook

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.0.3
  hooks:
  - id: pycln

# Flake8 also supports pre-commit natively (same author)
- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, pep8-naming]
    exclude: ^(docs/.*|tools/.*)$

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910
  hooks:
  - id: mypy
    # The default Python type ignores .pyi files, so let's rerun if detected
    types: [text]
    files: ^pybind11.*\.pyi?$
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false
    additional_dependencies: [typed_ast]

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ".supp$"
    args: ["-L", "nd,ot,thist"]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.7.2.1
  hooks:
  - id: shellcheck

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|PyTest
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

GHA: Fix mingw checks
  .github/workflows/ci.yml
Due: disallow-caps

fix: the types for return_value_policy_override in optional_caster
  include/pybind11/stl.h
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

ci: fix mingw checks by pinning (#3375)
  .github/workflows/ci.yml
Due: disallow-caps

ci: cancel in-progress on repeated pushes (#3370)
  .github/workflows/ci.yml
Due: disallow-caps

Fix clang-tidy complaints
  tests/test_stl.cpp
Due: disallow-caps, check-style

Add missing NOLINT
  tests/test_stl.cpp
Due: disallow-caps, check-style

Apply a couple more fixes
  tests/test_stl.cpp
Due: disallow-caps, check-style

docs: update links
  docs/advanced/pycpp/object.rst
  docs/changelog.rst
  docs/upgrade.rst
Due: disallow-caps

fix: deprecate make_simple_namespace, fix Python 3.11 (#3374)
  docs/advanced/pycpp/object.rst
  docs/changelog.rst
  docs/upgrade.rst
  include/pybind11/cast.h
  include/pybind11/pybind11.h
  tests/test_pytypes.cpp
Due: disallow-caps, check-style

Add C++ bindings to throw AttributeError
  docs/advanced/exceptions.rst
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Fix formatting bug
  docs/advanced/exceptions.rst
Due: disallow-caps

docs: fix minor typo
  include/pybind11/numpy.h
Due: disallow-caps, check-style

remove bind
  include/pybind11/async.h
Due: disallow-caps, check-style

use bind_front
  include/pybind11/async.h
Due: disallow-caps, check-style

docs: fix minor typo (#3390)
  include/pybind11/numpy.h
Due: disallow-caps, check-style

style: drop pycln
  .pre-commit-config.yaml
Due: none

style: drop pycln (#3397)
  .pre-commit-config.yaml
Due: none

tests: test recursive dispatch using visitor pattern (#3365)
  tests/test_virtual_functions.cpp
  tests/test_virtual_functions.py
Due: disallow-caps, check-style

feat: Add C++ binding to throw AttributeError (#3387)
  docs/advanced/exceptions.rst
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Simply has_kw_only_args handling
  include/pybind11/attr.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Allow keyword-only arguments to follow py::args
  docs/advanced/functions.rst
  include/pybind11/attr.h
  include/pybind11/cast.h
  include/pybind11/pybind11.h
  tests/test_kwargs_and_defaults.cpp
  tests/test_kwargs_and_defaults.py
Due: disallow-caps, check-style

fix: MSVC 2017 C++17 on Python 3 regression
  include/pybind11/functional.h
Due: disallow-caps, check-style

ci: support Python 3.11-dev
  .github/workflows/ci.yml
  tools/pybind11Tools.cmake
Due: disallow-caps

fix: use PyFrame_GetCode on Python 3.9+
  include/pybind11/detail/type_caster_base.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

fix: use dev version of py to fix Py 3.11
  tests/requirements.txt
Due: disallow-caps

ci: include pypy2, not sure why
  .github/workflows/ci.yml
Due: disallow-caps

ci: avoid running on Python 3.11 for now
  .github/workflows/ci.yml
Due: disallow-caps

chore: update CMake support to 3.22rc1 to quiet warning
  CMakeLists.txt
Due: disallow-caps

ci: some bitiness of pypy not supported on win
  .github/workflows/ci.yml
Due: disallow-caps

tests: print proper Eigen version
  noxfile.py
  tests/CMakeLists.txt
Due: disallow-caps

ci: add 3.7 job on CI
  .github/workflows/ci.yml
Due: disallow-caps

ci: fix runs
  .github/workflows/ci.yml
  tests/requirements.txt
Due: disallow-caps

fix: MSVC 2017 C++17 on Python 3 regression (#3407)
  .github/workflows/ci.yml
  include/pybind11/functional.h
Due: disallow-caps, check-style

ci: simpler PyPy usage, drop unmaintained scipy + pypy index
  .github/workflows/ci.yml
  .github/workflows/pip.yml
  tests/requirements.txt
Due: disallow-caps

ci: only binary numpy, wait on pypy 3.8
  .github/workflows/ci.yml
  .github/workflows/pip.yml
Due: disallow-caps

fix: support GCC 4.8
  tests/test_stl.cpp
Due: disallow-caps, check-style

tests: avoid warning about unknown compiler for compilers missing C++17
  tests/CMakeLists.txt
Due: disallow-caps

Remove unneeded test module attribute
  tests/test_stl.cpp
Due: disallow-caps, check-style

Change test enum to have more unique int values
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

fix: the types for return_value_policy_override in optional_caster (#3376)
  include/pybind11/stl.h
  tests/CMakeLists.txt
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style
