Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma
    exclude: ^noxfile.py$

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 21.11b1 # Keep in sync with blacken-docs
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==21.11b1 # keep in sync with black hook

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.1.0
  hooks:
  - id: pycln

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-log-warn
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

# Flake8 also supports pre-commit natively (same author)
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies: &flake8_dependencies
      - flake8-bugbear
      - pep8-naming
    exclude: ^(docs/.*|tools/.*)$

- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
    additional_dependencies: *flake8_dependencies

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false
    additional_dependencies: [typed_ast]

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ".supp$"
    args: ["-L", "nd,ot,thist"]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.1
  hooks:
  - id: shellcheck

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|PyTest
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

chore: add clang-format
  .pre-commit-config.yaml
Due: none

Manual line breaks to pre-empt undesired `clang-format`ing.
  include/pybind11/detail/common.h
  include/pybind11/iostream.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Add missing clang-tidy fixes
  include/pybind11/attr.h
  include/pybind11/cast.h
  include/pybind11/detail/internals.h
  include/pybind11/gil.h
  include/pybind11/pybind11.h
  tests/test_cmake_build/embed.cpp
Due: disallow-caps, check-style

Add clang-tidy prefer-member-initializer
  .clang-tidy
  include/pybind11/buffer_info.h
  include/pybind11/gil.h
  tests/test_buffers.cpp
  tests/test_copy_move.cpp
  tests/test_factory_constructors.cpp
  tests/test_sequences_and_iterators.cpp
  tests/test_smart_ptr.cpp
  tests/test_virtual_functions.cpp
Due: disallow-caps, check-style

Fix clang-tdy config
  .clang-tidy
Due: disallow-caps

Fix incorrect change
  tests/test_sequences_and_iterators.cpp
Due: disallow-caps, check-style

Fix sorting of .clang-tidy
  .clang-tidy
Due: disallow-caps

Add missing clang-tidy fixes (#3715)
  include/pybind11/attr.h
  include/pybind11/cast.h
  include/pybind11/detail/internals.h
  include/pybind11/gil.h
  include/pybind11/pybind11.h
  tests/test_cmake_build/embed.cpp
Due: disallow-caps, check-style

chore(clang-tidy): Add clang-tidy rules: prefer-member-initializer and optin.performance.Padding (#3716)
  .clang-tidy
  include/pybind11/buffer_info.h
  include/pybind11/gil.h
  tests/test_buffers.cpp
  tests/test_copy_move.cpp
  tests/test_factory_constructors.cpp
  tests/test_sequences_and_iterators.cpp
  tests/test_smart_ptr.cpp
  tests/test_virtual_functions.cpp
Due: disallow-caps, check-style

Manual curation of clang-format diffs involving source code comments.
  .clang-format
  include/pybind11/buffer_info.h
  include/pybind11/cast.h
  include/pybind11/chrono.h
  include/pybind11/detail/common.h
  include/pybind11/detail/internals.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/numpy.h
  include/pybind11/options.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
  include/pybind11/stl_bind.h
  tests/constructor_stats.h
  tests/test_class.cpp
  tests/test_kwargs_and_defaults.cpp
  tests/test_modules.cpp
  tests/test_numpy_array.cpp
  tests/test_numpy_dtypes.cpp
  tests/test_virtual_functions.cpp
Due: disallow-caps, check-style

Pulling .clang-format change from @henryiii's https://github.com/pybind/pybind11/pull/3683/commits/9057962d40ca520b9d26abbe0ff125796e2323dd
  .clang-format
Due: disallow-caps

Adding commonly used .clang-format `CommentPragmas:`
  .clang-format
  tests/pybind11_tests.h
Due: disallow-caps, check-style

rely on forward includes on tuple from <type_traits>
  include/pybind11/cast.h
Due: disallow-caps, check-style

Ensure short lambdas are allowed
  .clang-format
Due: disallow-caps

Final manual curation in preparation for global `clang-format`ing (#3712)
  .clang-format
  include/pybind11/buffer_info.h
  include/pybind11/cast.h
  include/pybind11/chrono.h
  include/pybind11/detail/common.h
  include/pybind11/detail/internals.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/iostream.h
  include/pybind11/numpy.h
  include/pybind11/options.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
  include/pybind11/stl_bind.h
  tests/constructor_stats.h
  tests/pybind11_tests.h
  tests/test_class.cpp
  tests/test_kwargs_and_defaults.cpp
  tests/test_modules.cpp
  tests/test_numpy_array.cpp
  tests/test_numpy_dtypes.cpp
  tests/test_virtual_functions.cpp
Due: disallow-caps, check-style

Removing check-style (Classic check-style)
  .pre-commit-config.yaml
Due: none

Removing everything related to 2.7 from ci.yml
  .github/workflows/ci.yml
Due: disallow-caps

Removing obsolete Python 2 mention in compiling.rst
  docs/compiling.rst
Due: disallow-caps

"PY2" removal, mainly from tests. C++ code is not touched.
  pybind11/setup_helpers.py
  pybind11/setup_helpers.pyi
  tests/conftest.py
  tests/env.py
  tests/test_buffers.py
  tests/test_builtin_casters.py
  tests/test_cmake_build/test.py
  tests/test_const_name.py
  tests/test_enum.py
  tests/test_eval.py
  tests/test_exceptions.py
  tests/test_factory_constructors.py
  tests/test_kwargs_and_defaults.py
  tests/test_multiple_inheritance.py
  tests/test_operator_overloading.py
  tests/test_pytypes.py
  tests/test_stl_binders.py
Due: disallow-caps

refactor: remove Python 2 from CMake
  tests/CMakeLists.txt
  tools/FindPythonLibsNew.cmake
  tools/pybind11Common.cmake
  tools/pybind11Config.cmake.in
  tools/pybind11NewTools.cmake
  tools/pybind11Tools.cmake
Due: disallow-caps

chore: bump pre-commit
  .pre-commit-config.yaml
Due: none

tests: use sys.version_info, not PY
  tests/env.py
  tests/test_builtin_casters.py
Due: disallow-caps

Commenting-out Centos7
  .github/workflows/ci.yml
Due: disallow-caps

Uncommenting Centos7 block (PR #3691 showed that it is working again).
  .github/workflows/ci.yml
Due: disallow-caps

Fix pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: more Python 2 removal
  .github/workflows/pip.yml
  README.rst
  noxfile.py
  pybind11/setup_helpers.pyi
  pyproject.toml
  setup.cfg
  tests/CMakeLists.txt
  tools/pybind11Common.cmake
  tools/pybind11Tools.cmake
Due: disallow-caps

refactor: remove Python 2 from setup code
  pybind11/setup_helpers.py
  setup.py
  tools/setup_global.py.in
Due: disallow-caps

Removing `PYTHON: 27` from .appveyor.yml
  .appveyor.yml
Due: disallow-caps

Proper `#error` for Python 2.
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Systematic removal of `u` prefix from `u"..."` and `u'...'` literals. Collateral cleanup of a couple minor other things.
  docs/advanced/classes.rst
  docs/classes.rst
  tests/extra_setuptools/test_setuphelper.py
  tests/test_builtin_casters.py
  tests/test_methods_and_attributes.py
  tests/test_pytypes.py
Due: disallow-caps

Using PY_VERSION_HEX to guard `#error "PYTHON 2 IS NO LONGER SUPPORTED.`
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Update pre-commit hooks
  .pre-commit-config.yaml
  docs/benchmark.py
  tests/test_pytypes.py
Due: disallow-caps

`#error BYE_BYE_GOLDEN_SNAKE`
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Cleaning up around case-insensitive hits for `[^a-z]py.*2` in tests/.
  tests/conftest.py
  tests/test_builtin_casters.py
  tests/test_exceptions.py
  tests/test_factory_constructors.py
  tests/test_iostream.py
  tests/test_pickling.py
  tests/test_pytypes.py
Due: disallow-caps
