Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|PyTest

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

1. Resolving clang-tidy error (redundant `.get()`). 2. It turns out the `const_cast` is not needed.
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Introducing struct member_setter_cpp_function.
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

unique_ptr_field_proxy_poc (proof of concept)
  tests/test_class_sh_property.cpp
  tests/test_class_sh_property.py
Due: disallow-caps, check-style

Replacing `M m` with `const handle &hdl` for improved readability.
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Special xetter_cpp_function::readonly to support m_valu_readonly.
  include/pybind11/pybind11.h
  tests/test_class_sh_property.cpp
Due: disallow-caps, check-style

Applying clang-tidy suggestion (looks much better).
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Adding comments (no code changes).
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

must_be_member_function_pointer<PM>
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Support for def_readonly, def_readwrite m_mptr, m_cptr.
  include/pybind11/pybind11.h
  tests/test_class_sh_property.cpp
  tests/test_class_sh_property.py
Due: disallow-caps, check-style

Distinguishing between xetter_cpp_function::readonly, read, but read just forwards to readonly (to get started).
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Polishing in test_class_sh_property.py: comments, moving code.
  tests/test_class_sh_property.py
Due: disallow-caps

Polishing in pybind11.h: comments, moving helper functions out.
  include/pybind11/detail/smart_holder_sfinae_hooks_only.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Making use of all_of, none_of as suggested by @Skylion007
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Combining member_getter_cpp_function, struct member_setter_cpp_function pairs struct xetter_cpp_function with read, write.
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Making tests more complete, with cleanup.
  tests/test_class_sh_property.cpp
  tests/test_class_sh_property.py
Due: disallow-caps, check-style

Adjustment after `git rebase -X theirs smart_holder`
  tests/CMakeLists.txt
Due: disallow-caps

xetter_cpp_function implementation for std::unique_ptr
  include/pybind11/pybind11.h
  tests/test_class_sh_property.cpp
Due: disallow-caps, check-style

Minor tweak to comment.
  include/pybind11/detail/smart_holder_sfinae_hooks_only.h
Due: disallow-caps, check-style

Adding comment: compact 4-character naming
  tests/test_class_sh_property.cpp
Due: disallow-caps, check-style

ci: move centos 8 to stream
  .github/workflows/ci.yml
Due: disallow-caps

Minimal reproducer for clash when binding types defined in the unnamed namespace.
  tests/CMakeLists.txt
  tests/test_unnamed_namespace_a.cpp
  tests/test_unnamed_namespace_a.py
  tests/test_unnamed_namespace_b.cpp
  tests/test_unnamed_namespace_b.py
Due: disallow-caps, check-style

ci: move centos 8 to stream (#3675)
  .github/workflows/ci.yml
Due: disallow-caps

Update changelog.rst
  docs/changelog.rst
Due: disallow-caps

fix: support sysconfig direclty in 3.10+
  tools/FindPythonLibsNew.cmake
Due: disallow-caps

docs: update changelog for 2.9.1 (#3670)
  docs/changelog.rst
Due: disallow-caps

Documenting missing unit test coverage. (#3673)
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

chore: bump to 2.9.1
  include/pybind11/detail/common.h
  pybind11/_version.py
  setup.cfg
Due: disallow-caps, check-style

Fix rest of MinGW
  .github/workflows/ci.yml
Due: disallow-caps

Download catch for MinGw
  .github/workflows/ci.yml
Due: disallow-caps

fix: update catch to 2.13.5 to fix glibc 2.34 failures
  tests/test_embed/CMakeLists.txt
Due: disallow-caps

test: Strip whitespace when comparing numpy dtypes for 1.22 compat
  tests/test_numpy_dtypes.py
Due: disallow-caps

test: Strip whitespace when comparing numpy dtypes for 1.22 compat (#3682)
  tests/test_numpy_dtypes.py
Due: disallow-caps

chore: back to work
  docs/changelog.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
  setup.py
Due: disallow-caps, check-style

chore: add clang-format
  .pre-commit-config.yaml
Due: none

Add readability-qualified-auto to clang-tidy
  .clang-tidy
  include/pybind11/attr.h
  include/pybind11/cast.h
  include/pybind11/detail/class.h
  include/pybind11/detail/internals.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/embed.h
  include/pybind11/functional.h
  include/pybind11/gil.h
  include/pybind11/numpy.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
  include/pybind11/stl/filesystem.h
  include/pybind11/stl_bind.h
  tests/test_buffers.cpp
  tests/test_builtin_casters.cpp
  tests/test_call_policies.cpp
  tests/test_callbacks.cpp
  tests/test_class.cpp
  tests/test_cmake_build/embed.cpp
  tests/test_embed/test_interpreter.cpp
  tests/test_numpy_array.cpp
  tests/test_numpy_dtypes.cpp
  tests/test_pytypes.cpp
  tests/test_smart_ptr.cpp
  tests/test_stl_binders.cpp
Due: disallow-caps, check-style

Fix faulty double const additions
  include/pybind11/cast.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Use member initializer
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Improve readability using data()
  include/pybind11/detail/class.h
  tests/test_sequences_and_iterators.cpp
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
