Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|PyTest

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

Try to simplify fix
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Nail down the fix
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Try pypy workaround
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Typo
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

one last typo
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Replacing 0x03110000 with 0x030B0000
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Removed duplicated word in docs/advanced/cast/eigen.rst
  docs/advanced/cast/eigen.rst
Due: disallow-caps

Removed duplicated word in docs/advanced/cast/eigen.rst (#3458)
  docs/advanced/cast/eigen.rst
Due: disallow-caps

override: Fix wrong caching of the overrides
  include/pybind11/pybind11.h
  tests/test_class_sh_inheritance.cpp
  tests/test_class_sh_inheritance.py
  tests/test_embed/CMakeLists.txt
  tests/test_embed/test_derived.py
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

override: Fix wrong caching of the overrides
  include/pybind11/pybind11.h
  tests/test_class.cpp
  tests/test_class.py
  tests/test_embed/CMakeLists.txt
  tests/test_embed/test_derived.py
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

test: Pass by const ref instead of by value (clang-tidy)
  tests/test_class.cpp
Due: disallow-caps, check-style

Revert "style: drop pycln (#3397)"
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

test: Rename classes and move to different files
  tests/test_class.cpp
  tests/test_class.py
  tests/test_embed/CMakeLists.txt
  tests/test_embed/test_interpreter.cpp
  tests/test_embed/test_trampoline.py
  tests/test_virtual_functions.cpp
  tests/test_virtual_functions.py
Due: disallow-caps, check-style

Add TODO for erasure code
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Revert "style: drop pycln" (#3466)
  .pre-commit-config.yaml
Due: none

cmake: report version type in the version string
  tools/pybind11Config.cmake.in
Due: disallow-caps

[master] Wrong caching of overrides (#3465)
  include/pybind11/pybind11.h
  tests/test_embed/CMakeLists.txt
  tests/test_embed/test_interpreter.cpp
  tests/test_embed/test_trampoline.py
  tests/test_virtual_functions.cpp
  tests/test_virtual_functions.py
Due: disallow-caps, check-style

Using `PYBIND11_SH_DEF` for `test_override_cache_helper` introduced by PR #3465.
  tests/test_embed/test_interpreter.cpp
  tests/test_virtual_functions.cpp
Due: disallow-caps, check-style

Tracking ci.yml changes from master.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

cmake: report version type in the version string (#3472)
  tools/pybind11Config.cmake.in
Due: disallow-caps

Add TODO. Drop PyPy
  .github/workflows/ci.yml
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Fix typo
  .github/workflows/upstream.yml
Due: disallow-caps

Revert catch upgrade
  tests/test_embed/CMakeLists.txt
Due: disallow-caps

fix: minor cleanup, try pypy again
  .github/workflows/ci.yml
  include/pybind11/pybind11.h
  tests/test_buffers.py
  tests/test_builtin_casters.py
  tests/test_exceptions.py
Due: disallow-caps, check-style

Removed duplicated word in docs/advanced/exceptions.rst
  docs/advanced/exceptions.rst
Due: disallow-caps

Removed duplicated word in docs/advanced/exceptions.rst (#3476)
  docs/advanced/exceptions.rst
Due: disallow-caps

ci: support development releases of Python (#3419)
  .github/workflows/ci.yml
  .github/workflows/upstream.yml
  include/pybind11/cast.h
  include/pybind11/eval.h
  include/pybind11/pybind11.h
  tests/requirements.txt
  tests/test_buffers.py
  tests/test_builtin_casters.py
  tests/test_exceptions.py
Due: disallow-caps, check-style

fix(build): cleaner CMake printouts & IDE folders
  CMakeLists.txt
  tests/CMakeLists.txt
Due: disallow-caps

ci: try newer images
  .github/workflows/ci.yml
Due: disallow-caps

docs: fix broken link (again)
  README.rst
Due: disallow-caps

fix: link to corecrt on MSVC 2022
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Update pybind11.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

fix: drop _DEBUG undefinition
  include/pybind11/detail/common.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

fix(build): cleaner CMake printouts & IDE folders (#3479)
  CMakeLists.txt
  tests/CMakeLists.txt
Due: disallow-caps

Minimal reproducer for breakage introduced by PR #3402.
  tests/test_kwargs_and_defaults.cpp
  tests/test_kwargs_and_defaults.py
Due: disallow-caps, check-style

Fix filesystem path in docs
  docs/advanced/cast/overview.rst
Due: disallow-caps

fixed include for filesystem::path
  docs/advanced/cast/overview.rst
Due: disallow-caps

fixed include for filesystem::path (#3482)
  docs/advanced/cast/overview.rst
Due: disallow-caps

fix compiler warning: deprecated implicit copy constructor
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
