Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma
    exclude: ^noxfile.py$

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 21.9b0 # Keep in sync with blacken-docs
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.11.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==21.9b0 # keep in sync with black hook

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.0.3
  hooks:
  - id: pycln

# Flake8 also supports pre-commit natively (same author)
- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, pep8-naming]
    exclude: ^(docs/.*|tools/.*)$

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910
  hooks:
  - id: mypy
    # The default Python type ignores .pyi files, so let's rerun if detected
    types: [text]
    files: ^pybind11.*\.pyi?$
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false
    additional_dependencies: [typed_ast]

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ".supp$"
    args: ["-L", "nd,ot,thist"]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.7.2.1
  hooks:
  - id: shellcheck

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|PyTest
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

Systematically exercising py::kw_only (at pos 0, 1, 2) x (func, init)
  tests/test_kwargs_and_defaults.cpp
  tests/test_kwargs_and_defaults.py
Due: disallow-caps, check-style

Fix py::kw_only when used before the first arg of a method
  include/pybind11/attr.h
  tests/test_kwargs_and_defaults.cpp
  tests/test_kwargs_and_defaults.py
Due: disallow-caps, check-style

Style changes
  include/pybind11/attr.h
Due: disallow-caps, check-style

Fix py::kw_only when used before the first arg of a method (#3488)
  include/pybind11/attr.h
  tests/test_kwargs_and_defaults.cpp
  tests/test_kwargs_and_defaults.py
Due: disallow-caps, check-style

Fixing `stict` vs `strict` typo.
  tests/test_buffers.py
Due: disallow-caps

take care of the bug http://eigen.tuxfamily.org/bz/show_bug.cgi?id=747
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Fixing `stict` vs `strict` typo. (#3493)
  tests/test_buffers.py
Due: disallow-caps

add parenthesis for better reading
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Update include/pybind11/eigen.h
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Replace usage of deprecated Eigen class
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Update eigen.h
  include/pybind11/eigen.h
Due: disallow-caps, check-style

fix: remove redundant copy operation to fix warning (#3486)
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Keep blacken-docs and black in sync.
  .pre-commit-config.yaml
Due: none

Replace usage of deprecated Eigen class MappedSparseMatrix. (#3499)
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Update required include file for std::filesystem::path
  docs/advanced/cast/overview.rst
Due: disallow-caps

cast: Add missing break (#48)
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

snapshot of current PR #3497
  .github/workflows/ci.yml
  include/pybind11/detail/common.h
  include/pybind11/embed.h
Due: disallow-caps, check-style

Adding back windows-latest
  .github/workflows/ci.yml
Due: disallow-caps

chore: update changelog with recent PRs
  docs/changelog.rst
Due: disallow-caps

chore: update changelog with recent PRs (#3524)
  docs/changelog.rst
Due: disallow-caps

Expand string_view support to str, bytes, memoryview
  include/pybind11/cast.h
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
  tests/test_builtin_casters.cpp
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

CI-testing a fix for the "ambiguous conversion" issue.
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Move string_view include to pytypes.h
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Make clang-tidy happy (hopefully).
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Adding minimal reproducer for the `tensorflow::tstring` issue.
  tests/test_builtin_casters.cpp
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

Adding missing NOLINTNEXTLINE
  tests/test_builtin_casters.cpp
Due: disallow-caps, check-style

Also apply ambiguous conversion workaround to str()
  include/pybind11/pytypes.h
  tests/test_builtin_casters.cpp
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

Expand std::string_view support to str, bytes, memoryview (#3521)
  include/pybind11/cast.h
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
  tests/test_builtin_casters.cpp
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

move disable warning code closer to call site
  include/pybind11/embed.h
Due: disallow-caps, check-style

ci: add a Windows 2019 run
  .github/workflows/ci.yml
Due: disallow-caps

fix for: limit workaround for stdlib shipped with vs2022 or later
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

silence warning for python 2.7
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

turn on vs2022 ci test
  .github/workflows/ci.yml
Due: disallow-caps

ci: don't run helpers on Windows 2022 & Python 3.5
  .github/workflows/ci.yml
Due: disallow-caps

comment
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

disable warning around mbstowcs call
  include/pybind11/detail/common.h
  include/pybind11/embed.h
Due: disallow-caps, check-style

limit workaround for stdlib shipped with vs2022 or later
  include/pybind11/detail/common.h
Due: disallow-caps, check-style
