Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

fix: typo in Windows C++17 support (#2507)
  pybind11/setup_helpers.py
Due: disallow-caps

Reordering includes
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

fix: Windows C++ latest
  pybind11/setup_helpers.py
Due: disallow-caps

fix: Windows C++ latest (#2508)
  pybind11/setup_helpers.py
Due: disallow-caps

fix: AppleClang 12 new warning
  include/pybind11/cast.h
  include/pybind11/pybind11.h
  tests/test_pytypes.cpp
Due: disallow-caps, check-style

Fix: AppleClang X.X.0 will not trigger this warning
  tests/test_operator_overloading.cpp
Due: disallow-caps, check-style

fix: AppleClang 12 warnings (#2510)
  include/pybind11/cast.h
  include/pybind11/pybind11.h
  tests/test_operator_overloading.cpp
  tests/test_pytypes.cpp
Due: disallow-caps, check-style

Include what is used in pybind11.h (#2499)
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

tests: Fix test override execution
  tests/CMakeLists.txt
Due: disallow-caps

WIP Show edge case with operator overloading, reversal, and mixing
  docs/advanced/classes.rst
  tests/test_operator_overloading.cpp
  tests/test_operator_overloading.py
Due: disallow-caps, check-style

Add enum value to enum repr
  include/pybind11/pybind11.h
  tests/test_enum.py
Due: disallow-caps, check-style

Add unchecked_reference::operator() and operator[] to overload resolution of unchecked_mutable_reference
  include/pybind11/numpy.h
  tests/test_numpy_array.cpp
  tests/test_numpy_array.py
Due: disallow-caps, check-style

Add enum value to enum repr (#2126)
  include/pybind11/pybind11.h
  tests/test_enum.py
Due: disallow-caps, check-style

Fix deregistering of different pybind11 instance from internals
  include/pybind11/detail/class.h
Due: disallow-caps, check-style

Add tests demonstrating the problem with deregistering pybind11 instances
  tests/test_class.cpp
  tests/test_class.py
Due: disallow-caps, check-style

Simpler implementation of buffer_info constructor from Py_buffer.
  include/pybind11/buffer_info.h
Due: disallow-caps, check-style

Move test_ctypes_buffer into test_buffers
  tests/CMakeLists.txt
  tests/test_buffers.cpp
  tests/test_buffers.py
  tests/test_ctypes_buffer.cpp
  tests/test_ctypes_buffer.py
Due: disallow-caps, check-style

Comment on why view->strides may be NULL (and fix some whitespace)
  include/pybind11/buffer_info.h
Due: disallow-caps, check-style

Use c_strides() instead of zero when view->strides is NULL.
  include/pybind11/buffer_info.h
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Increase ctypes buffer test coverage in test_buffers.
  tests/test_buffers.cpp
  tests/test_buffers.py
Due: disallow-caps, check-style

fix: Add a nice CMake error when Interpreter component is missing.
  tools/pybind11NewTools.cmake
Due: disallow-caps

Split ctypes tests and skip one which is broken in PyPy2.
  tests/test_buffers.py
Due: disallow-caps

fix: Add a nice CMake error when Interpreter component is missing. (#2519)
  tools/pybind11NewTools.cmake
Due: disallow-caps

Moving tp_class access, and consistent fully-qualified naming for PyPy, to detail::get_tp_name
  include/pybind11/cast.h
  include/pybind11/detail/class.h
  include/pybind11/pybind11.h
  tests/test_class.py
  tests/test_local_bindings.py
Due: disallow-caps, check-style

feat: parallel compiler
  docs/compiling.rst
  pybind11/setup_helpers.py
  tests/extra_setuptools/test_setuphelper.py
Due: disallow-caps

tests: Fix test override execution (#2512)
  tests/CMakeLists.txt
Due: disallow-caps

fix: warning on latest AppleClang
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

fix: warning on latest AppleClang (#2522)
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

remove extra EOL
  tests/test_numpy_vectorize.py
Due: disallow-caps

Add missing std::move()
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Stealing @sizmailov's test and fixing unused argument warning
  include/pybind11/numpy.h
  tests/test_numpy_vectorize.cpp
  tests/test_numpy_vectorize.py
Due: disallow-caps, check-style

Allow function/functor passed to py::vectorize to return void
  include/pybind11/numpy.h
Due: disallow-caps, check-style

feat: import check as a common function
  docs/changelog.rst
  tests/CMakeLists.txt
  tools/pybind11Common.cmake
  tools/pybind11Config.cmake.in
  tools/pybind11Tools.cmake
Due: disallow-caps

docs: add a few details
  docs/changelog.rst
  include/pybind11/numpy.h
Due: disallow-caps, check-style

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

ci: releases
  .github/workflows/configure.yml
  .github/workflows/pip.yml
  docs/release.rst
Due: disallow-caps

Adds failing test to demonstrate https://github.com/pybind/pybind11/issues/2527
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

Initializing PyModuleDef object with PyModuleDef_HEAD_INIT.
  include/pybind11/detail/common.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

git rebase master
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

moving static PyModuleDef declaration to global scope, as requested by @wjakob
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
