Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

docs(fix): spelling mistake in recent commit
  docs/advanced/pycpp/utilities.rst
  include/pybind11/iostream.h
Due: disallow-caps, check-style

chore: add more lines to CODEOWNERS
  .github/CODEOWNERS
Due: disallow-caps

chore: add nox support
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  noxfile.py
  setup.cfg
Due: disallow-caps

docs: add one more and merge tidy
  docs/changelog.rst
Due: disallow-caps

docs: update changelog
  docs/changelog.rst
Due: disallow-caps

Remove slicing check for now
  .clang-tidy
Due: disallow-caps

chore: add nox support (#3101)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  noxfile.py
  setup.cfg
Due: disallow-caps

chore: update pre-commit hooks
  .pre-commit-config.yaml
  tests/test_class.py
  tests/test_sequences_and_iterators.py
  tests/test_stl.py
Due: disallow-caps

chore: move some config to pyproject.toml
  pyproject.toml
  setup.cfg
Due: disallow-caps

style: add pyupgrade check, 2.7+
  .pre-commit-config.yaml
  tests/extra_python_package/test_files.py
  tests/test_builtin_casters.py
  tests/test_callbacks.py
  tests/test_pytypes.py
Due: disallow-caps

Very minor tweak for consistency with code elsewhere (smart_holder branch).
  tests/test_stl.py
Due: disallow-caps

Adding test_return_vector_bool_raw_ptr to test_stl.py.
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

Fixing minor oversights.
  docs/advanced/functions.rst
Due: disallow-caps

First attempt to make the documentation more accurate, but not trying to be comprehensive, to not bloat the reference table with too many details.
  docs/advanced/functions.rst
Due: disallow-caps

Applying reviewer suggestions.
  tests/test_stl.py
Due: disallow-caps

More precise return_value_policy::automatic documentation. (#2920)
  docs/advanced/functions.rst
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

docs: update changelog (#3099)
  docs/changelog.rst
Due: disallow-caps

docs: reduce visibility of 3.9.0 warning
  README.rst
  docs/limitations.rst
Due: disallow-caps

Result of automatic reformatting (pyupgrade via new pre-commit hook).
  ubench/holder_comparison.py
Due: disallow-caps

fix(clang-tidy): Add cppcoreguidelines-init-vars,slicing, and throw-by-value-catch-by-reference checks (#3094)
  .clang-tidy
  include/pybind11/eval.h
  include/pybind11/pytypes.h
  include/pybind11/stl_bind.h
  tests/test_eval.cpp
  tests/test_numpy_vectorize.cpp
  tests/test_sequences_and_iterators.cpp
Due: disallow-caps, check-style

Attempt to fix py2 error
  tests/test_pytypes.py
Due: disallow-caps

Revert all unicode literals
  tests/test_pytypes.py
Due: disallow-caps

Fixed
  tests/test_pytypes.py
Due: disallow-caps

docs: try using Furo
  docs/_static/theme_overrides.css
  docs/conf.py
  docs/requirements.txt
  noxfile.py
Due: disallow-caps

* Removing stray semicolons (discovered by running clang-format v12 followed by tools/check-style.sh).
  include/pybind11/attr.h
  include/pybind11/detail/common.h
  tests/pybind11_tests.h
  tests/test_buffers.cpp
  tests/test_callbacks.cpp
  tests/test_eigen.cpp
  tests/test_methods_and_attributes.cpp
  tests/test_smart_ptr.cpp
Due: disallow-caps, check-style

Improve documentation of discard_as_unraisable() API (#2697)
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Update noxfile.py
  noxfile.py
Due: disallow-caps

Add helper to build in-tree extensions. (#2831)
  docs/compiling.rst
  pybind11/setup_helpers.py
  pybind11/setup_helpers.pyi
  tests/extra_setuptools/test_setuphelper.py
Due: disallow-caps

Adding docker-clang-format hook to .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Automatically inserted clang-format off-on around rst blocks (NO manual changes).
  include/pybind11/attr.h
  include/pybind11/cast.h
  include/pybind11/detail/common.h
  include/pybind11/embed.h
  include/pybind11/iostream.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

test_iostream.py NUM_RUNS=1000
  tests/test_iostream.py
Due: disallow-caps

valgrind off (it takes many hours to finish)
  .github/workflows/ci.yml
Due: disallow-caps

NUM_RUNS=1001 (to get more data)
  tests/test_iostream.py
Due: disallow-caps

NUM_RUNS=1002 (to get more data)
  tests/test_iostream.py
Due: disallow-caps

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
