Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma
    exclude: ^noxfile.py$

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 21.11b1 # Keep in sync with blacken-docs
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==21.11b1 # keep in sync with black hook

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.1.0
  hooks:
  - id: pycln

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-log-warn
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

# Flake8 also supports pre-commit natively (same author)
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies: &flake8_dependencies
      - flake8-bugbear
      - pep8-naming
    exclude: ^(docs/.*|tools/.*)$

- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
    additional_dependencies: *flake8_dependencies

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false
    additional_dependencies: [typed_ast]

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ".supp$"
    args: ["-L", "nd,ot,thist"]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.1
  hooks:
  - id: shellcheck

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|PyTest
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

Add std::monostate tests
  tests/test_stl.py
Due: disallow-caps

Update test_stl.py
  tests/test_stl.py
Due: disallow-caps

Update test fn name
  tests/test_stl.py
Due: disallow-caps

And update the doc() test
  tests/test_stl.py
Due: disallow-caps

Add type_caster<std::monostate> (#3818)
  include/pybind11/stl.h
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

Add missing move in sp matrix caster and microopt char concat
  include/pybind11/detail/type_caster_base.h
  include/pybind11/eigen.h
  include/pybind11/numpy.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Remove useless move
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Add a couple more std::move
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Missed one char
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Improve error_string
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Ensure no temp reallocs in errorString concat
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Remove useless move
  include/pybind11/eigen.h
Due: disallow-caps, check-style

Adapt to changes in the handling of license for PEP 621
  pyproject.toml
Due: disallow-caps

(perf): Add missing move in sp matrix caster and microopt char concats (#3823)
  include/pybind11/detail/type_caster_base.h
  include/pybind11/eigen.h
  include/pybind11/numpy.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Make pycapsule errors better match python
  include/pybind11/numpy.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Improve error handling
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Improve str exceptions
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Revert macro change just in case
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Make clang-tidy happy
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

fix: better exception and error handling for capsules (#3825)
  include/pybind11/numpy.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Fix one more clang-tidy issue
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Refactor duplicate method
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

ci: try a use of FindPython with PyPy
  .github/workflows/ci.yml
Due: disallow-caps

ci: test pypy 3.9 (#3789)
  .github/workflows/ci.yml
Due: disallow-caps

PYBIND11_OBJECT_CVT should use namespace for error_already_set() (#3797)
  include/pybind11/pytypes.h
  tests/test_pytypes.cpp
  tests/test_pytypes.py
Due: disallow-caps, check-style

Docs: No Strip in Debug (#3779)
  docs/compiling.rst
Due: disallow-caps

Remove idioms in code comments (#3809)
  .github/workflows/ci.yml
  docs/advanced/pycpp/numpy.rst
Due: disallow-caps

Use rvalue reference for std::variant cast_op<T> (#3811)
  include/pybind11/stl.h
Due: disallow-caps, check-style

Revert "ci: test pypy 3.9 (#3789)"
  .github/workflows/ci.yml
Due: disallow-caps

Update ci.yml
  .github/workflows/ci.yml
Due: disallow-caps

Revert "ci: test pypy 3.9" (#3828)
  .github/workflows/ci.yml
Due: disallow-caps

fix: improve str exceptions and consistency with python (#3826)
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

style: bump black
  .pre-commit-config.yaml
Due: none

fix: pycln broken by typer breakage
  .pre-commit-config.yaml
Due: none

style: bump black (#3831)
  .pre-commit-config.yaml
Due: none

chore: bump changelog for 2.9.2
  docs/changelog.rst
Due: disallow-caps

Update docs/changelog.rst
  docs/changelog.rst
Due: disallow-caps
