Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma
    exclude: ^noxfile.py$

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
  - id: pyupgrade

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 21.11b1 # Keep in sync with blacken-docs
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==21.11b1 # keep in sync with black hook

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.1.0
  hooks:
  - id: pycln

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
  - id: python-check-blanket-type-ignore
  - id: python-no-log-warn
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal

# Flake8 also supports pre-commit natively (same author)
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies: &flake8_dependencies
      - flake8-bugbear
      - pep8-naming
    exclude: ^(docs/.*|tools/.*)$

- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
    additional_dependencies: *flake8_dependencies

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false
    additional_dependencies: [typed_ast]

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    exclude: ".supp$"
    args: ["-L", "nd,ot,thist"]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.1
  hooks:
  - id: shellcheck

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache|PyTest
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

Flag error with assert
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Fix exception handling when pybind11::weakref() fails. (#3739)
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
  tests/test_pytypes.py
Due: disallow-caps, check-style

Using `#undef _` before "#include <catch.hpp>", as suggested by @henryiii (#3747)
  .github/workflows/ci.yml
  .github/workflows/ci_sh_def.yml
  tests/pure_cpp/smart_holder_poc_test.cpp
Due: disallow-caps, check-style

Guard against failed downcast to null
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Add descriptive comments
  include/pybind11/embed.h
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

fix: clear local internals after finalizing interpreter #2101 (#3744)
  include/pybind11/embed.h
  tests/test_embed/test_interpreter.cpp
Due: disallow-caps, check-style

Reviewer suggestions
  .github/workflows/ci.yml
  include/pybind11/detail/type_caster_base.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Remove unnecessary initialization
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Add noexcept move and explicit fail throw
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Optimize error_string creation
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Fix typo
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Revert noexcept
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

ci: specify which windows image to use
  .github/workflows/ci.yml
Due: disallow-caps

Cast bytearray to string (#3707)
  include/pybind11/cast.h
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

Tracking ci.yml changes from master.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

cast: Qualify symbol usage in PYBIND11_TYPE_CASTER
  include/pybind11/cast.h
Due: disallow-caps, check-style

fixup! review
  include/pybind11/cast.h
  tests/test_custom_type_casters.cpp
  tests/test_custom_type_casters.py
Due: disallow-caps, check-style

cast: Qualify symbol usage in PYBIND11_TYPE_CASTER (#3758)
  include/pybind11/cast.h
  tests/test_custom_type_casters.cpp
  tests/test_custom_type_casters.py
Due: disallow-caps, check-style

Adding "make_alias" to use a different `__name__` as shared-object
  include/pybind11/pybind11.h
  tests/test_make_alias.cpp
  tests/test_make_alias.py
Due: disallow-caps, check-style

Fixing compiler errors
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Addressing compiler errors
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Update include/pybind11/pybind11.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Update tests/test_make_alias.cpp
  tests/test_make_alias.cpp
Due: disallow-caps, check-style

Update tests/test_make_alias.py
  tests/test_make_alias.py
Due: disallow-caps

FIX: support python311
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

Revert MRO changes
  include/pybind11/detail/class.h
  tests/test_multiple_inheritance.cpp
Due: disallow-caps, check-style

Use sysconfig in Python >= 3.10
  tools/FindPythonLibsNew.cmake
Due: disallow-caps

Explicitly select the posix_prefix scheme for platinclude on Debian
  tools/FindPythonLibsNew.cmake
Due: disallow-caps

Use f_back properly
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

Qualify auto
  include/pybind11/detail/type_caster_base.h
Due: disallow-caps, check-style

chore: minor fixes for newer PyPys
  include/pybind11/detail/class.h
  include/pybind11/pybind11.h
  noxfile.py
Due: disallow-caps, check-style

ci: fix issue with PyPy
  .github/workflows/ci.yml
Due: disallow-caps

ci: fix PyPy (#3768)
  .github/workflows/ci.yml
  include/pybind11/detail/class.h
  include/pybind11/pybind11.h
  noxfile.py
Due: disallow-caps, check-style

ci: test pypy upstream
  .github/workflows/upstream.yml
  noxfile.py
  tests/test_exceptions.py
Due: disallow-caps

ci: include PyPy 3.9
  .github/workflows/ci.yml
Due: disallow-caps

Use sysconfig in Python >= 3.10 (#3764)
  tools/FindPythonLibsNew.cmake
Due: disallow-caps

Simplify code slightly
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Ensure co_varnames decref if dict_getitem throws
  include/pybind11/pybind11.h
Due: disallow-caps, check-style
