Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

Moving virtual_overrider_self_life_support to separate include file, with iwyu cleanup.
  CMakeLists.txt
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/detail/virtual_overrider_self_life_support.h
  tests/extra_python_package/test_files.py
Due: disallow-caps, check-style

Adding virtual_overrider_self_life_support. (#2902)
  CMakeLists.txt
  include/pybind11/detail/smart_holder_poc.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/detail/virtual_overrider_self_life_support.h
  tests/extra_python_package/test_files.py
  tests/pure_cpp/smart_holder_poc_test.cpp
  tests/test_class_sh_with_alias.cpp
  tests/test_class_sh_with_alias.py
Due: disallow-caps, check-style

Implementation for casting from const std::unique_ptr&
  include/pybind11/detail/smart_holder_type_casters.h
Due: disallow-caps, check-style

Add roundtrip tests for unique_ptr
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_basic.py
Due: disallow-caps, check-style

Missing cast from const unique_ptr& (#2904)
  include/pybind11/detail/smart_holder_type_casters.h
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_basic.py
Due: disallow-caps, check-style

Debug use count
  tests/test_class_sh_basic.py
Due: disallow-caps

Pure clang-format cleanup (after #2904), NO other changes.
  include/pybind11/detail/smart_holder_type_casters.h
  tests/test_class_sh_basic.cpp
Due: disallow-caps, check-style

Renaming PYBIND11_SMART_POINTER_HOLDER_TYPE_CASTERS to PYBIND11_TYPE_CASTER_BASE_HOLDER.
  include/pybind11/pybind11.h
  tests/test_class.cpp
  tests/test_factory_constructors.cpp
  tests/test_methods_and_attributes.cpp
  tests/test_multiple_inheritance.cpp
  tests/test_smart_ptr.cpp
  ubench/holder_comparison.cpp
Due: disallow-caps, check-style

Renaming PYBIND11_SMART_POINTER_HOLDER_TYPE_CASTERS to PYBIND11_TYPE_CASTER_BASE_HOLDER. (#2907)
  include/pybind11/pybind11.h
  tests/test_class.cpp
  tests/test_factory_constructors.cpp
  tests/test_methods_and_attributes.cpp
  tests/test_multiple_inheritance.cpp
  tests/test_smart_ptr.cpp
  ubench/holder_comparison.cpp
Due: disallow-caps, check-style

Adding docker-clang-format to .pre-commit-config.yaml, and updating clang-format section in .github/CONTRIBUTING.md.
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
Due: disallow-caps

ci: keep pre-commit.ci compatible
  .pre-commit-config.yaml
Due: none

Fixing oversight: clang-format pybind11.h (affecting smart_holder code only).
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Adding smart_holder branch to workflow_dispatch in all places where stable appears.
  .github/workflows/ci.yml
  .github/workflows/configure.yml
  .github/workflows/format.yml
  .github/workflows/pip.yml
Due: disallow-caps

Adaption of PyCLIF virtual_py_cpp_mix test.
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  tests/test_class_sh_virtual_py_cpp_mix.py
Due: disallow-caps, check-style

Removing ValueError: Ownership of instance with virtual overrides in Python cannot be transferred to C++. TODO: static_assert alias class needs to inherit from virtual_overrider_self_life_support.
  include/pybind11/detail/smart_holder_type_casters.h
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  tests/test_class_sh_virtual_py_cpp_mix.py
  tests/test_class_sh_with_alias.py
Due: disallow-caps, check-style

Bringing back ValueError: "... instance cannot safely be transferred to C++.", but based on dynamic_cast<AliasType>.
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/detail/virtual_overrider_self_life_support.h
  include/pybind11/pybind11.h
  tests/test_class_sh_trampoline_shared_ptr_cpp_arg.py
  tests/test_class_sh_with_alias.py
Due: disallow-caps, check-style

Fixing oversight: adding test_class_sh_virtual_py_cpp_mix.cpp to cmake file.
  tests/CMakeLists.txt
Due: disallow-caps

clang <= 3.6 compatibility.
  tests/test_class_sh_virtual_py_cpp_mix.cpp
Due: disallow-caps, check-style

Changing py::detail::virtual_overrider_self_life_support to py::virtual_overrider_self_life_support.
  CMakeLists.txt
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/virtual_overrider_self_life_support.h
  tests/extra_python_package/test_files.py
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  tests/test_class_sh_with_alias.cpp
  tests/test_class_sh_with_alias.py
Due: disallow-caps, check-style

Using `dynamic_cast<AliasType>` to determine `pointee_depends_on_holder_owner`. (#2910)
  CMakeLists.txt
  include/pybind11/detail/dynamic_raw_ptr_cast_if_possible.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/pybind11.h
  include/pybind11/virtual_overrider_self_life_support.h
  tests/CMakeLists.txt
  tests/extra_python_package/test_files.py
  tests/test_class_sh_trampoline_shared_ptr_cpp_arg.py
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  tests/test_class_sh_virtual_py_cpp_mix.py
  tests/test_class_sh_with_alias.cpp
  tests/test_class_sh_with_alias.py
Due: disallow-caps, check-style

Test return by reference
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_basic.py
Due: disallow-caps, check-style

Adding test_class_sh_disowning.
  tests/CMakeLists.txt
  tests/test_class_sh_disowning.cpp
  tests/test_class_sh_disowning.py
Due: disallow-caps, check-style

Fixing minor namespace naming inconsistency between test_class_sh_*.cpp files.
  tests/test_class_sh_factory_constructors.cpp
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  tests/test_class_sh_with_alias.cpp
Due: disallow-caps, check-style

Add (failing) roundtrip test for const unique_ptr reference
  include/pybind11/detail/smart_holder_type_casters.h
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_basic.py
Due: disallow-caps, check-style

test_class_sh_basic.cpp: rename uconsumer -> consumer
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_basic.py
Due: disallow-caps, check-style

Catch missing self argument in overloads constructor
  include/pybind11/pybind11.h
  tests/test_factory_constructors.py
Due: disallow-caps, check-style

Replacing py::overload_cast with plain cast for C++11 compatibility.
  tests/test_class_sh_disowning.cpp
Due: disallow-caps, check-style

Fix roundtrip unit test for derived Python objects
  include/pybind11/detail/common.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Improve accuaracy of unit tests: Count num of copies/moves
  tests/test_class_sh_basic.py
Due: disallow-caps

roundtrip test via reference passed to aliased class method
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_with_alias.cpp
  tests/test_class_sh_with_alias.py
Due: disallow-caps, check-style

Accommodate that the C++ order of evaluation of function arguments is unspecified.
  tests/test_class_sh_disowning.py
Due: disallow-caps

Adding tests to exercise corner cases involving disowning. (#2912)
  tests/CMakeLists.txt
  tests/test_class_sh_disowning.cpp
  tests/test_class_sh_disowning.py
  tests/test_class_sh_factory_constructors.cpp
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  tests/test_class_sh_with_alias.cpp
Due: disallow-caps, check-style

Adding test_class_sh_disowning_mi.cpp (multiple inheritance).
  tests/CMakeLists.txt
  tests/test_class_sh_disowning_mi.cpp
  tests/test_class_sh_disowning_mi.py
Due: disallow-caps, check-style

Adding test_class_sh_disowning_mi.cpp (multiple inheritance). (#2917)
  tests/CMakeLists.txt
  tests/test_class_sh_disowning_mi.cpp
  tests/test_class_sh_disowning_mi.py
Due: disallow-caps, check-style

OverrideTestPassRef: roundtrip test for references passed to overriden methods
  tests/test_virtual_functions.cpp
  tests/test_virtual_functions.py
Due: disallow-caps, check-style

Adding tests to test_class_sh_disowning_mi for expanded coverage.
  tests/test_class_sh_disowning_mi.cpp
  tests/test_class_sh_disowning_mi.py
Due: disallow-caps, check-style

Setting @pytest.mark.xfail strict=False (some tests pass with PyPy, some don't).
  tests/test_class_sh_disowning_mi.py
Due: disallow-caps

Adding tests to test_class_sh_disowning_mi for expanded coverage. (#2918)
  tests/test_class_sh_disowning_mi.cpp
  tests/test_class_sh_disowning_mi.py
Due: disallow-caps, check-style

More roundtrip tests: What happens to objects passed to C++ and returned back?
  include/pybind11/detail/smart_holder_type_casters.h
  tests/test_class_sh_basic.cpp
  tests/test_class_sh_basic.py
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
