Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache|PyTest

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

fix 2 for: limit workaround for stdlib shipped with vs2022 or later
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

fix: vs2022 compilation, issue #3477
  include/pybind11/detail/common.h
Due: disallow-caps, check-style

ci: add Python 2.7 check too
  .github/workflows/ci.yml
Due: disallow-caps

fix: vs2022 compilation, issue #3477 (#3497)
  .github/workflows/ci.yml
  include/pybind11/detail/common.h
  include/pybind11/embed.h
Due: disallow-caps, check-style

Tracking ci.yml changes from master.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Add NumPy Scalar.
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Keep blacken-docs in sync
  .pre-commit-config.yaml
Due: none

Add doc of py::numpy_scalar
  docs/advanced/pycpp/numpy.rst
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Fix path error
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Strictly defined integer.
  docs/advanced/pycpp/numpy.rst
  include/pybind11/numpy.h
Due: disallow-caps, check-style

Add Add py::numpy_scalar test.
  tests/CMakeLists.txt
  tests/test_numpy_scalars.cpp
  tests/test_numpy_scalars.py
Due: disallow-caps, check-style

Ensure ThreadPool is closed in setup_helpers
  pybind11/setup_helpers.py
Due: disallow-caps

Add note to remove code that supports Python 2
  pybind11/setup_helpers.py
Due: disallow-caps

fix(setup_helpers): ensure ThreadPool is closed (#3548)
  pybind11/setup_helpers.py
Due: disallow-caps

fix: avoid usage of _
  include/pybind11/cast.h
  include/pybind11/chrono.h
  include/pybind11/complex.h
  include/pybind11/detail/descr.h
  include/pybind11/detail/init.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/eigen.h
  include/pybind11/functional.h
  include/pybind11/numpy.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
  include/pybind11/stl.h
  include/pybind11/stl/filesystem.h
  tests/pybind11_tests.h
  tests/test_builtin_casters.cpp
  tests/test_copy_move.cpp
  tests/test_custom_type_casters.cpp
Due: disallow-caps, check-style

docs: include change in docs
  docs/advanced/cast/custom.rst
  docs/upgrade.rst
Due: disallow-caps

ci: test _ defined
  .github/workflows/ci.yml
Due: disallow-caps

Trivial change.
  README.rst
Due: disallow-caps

Trying ICC Latest C++14 instead of C++17.
  .github/workflows/ci.yml
Due: disallow-caps

Trying ICC Latest C++20 instead of C++17.
  .github/workflows/ci.yml
Due: disallow-caps

Settling on ICC Latest C++14 for now.
  .github/workflows/ci.yml
Due: disallow-caps

ICC Latest C++17 (for reporting errors to Intel).
  .github/workflows/ci.yml
Due: disallow-caps

ICC Latest C++20 (for reporting errors to Intel).
  .github/workflows/ci.yml
Due: disallow-caps

fix: add a test and comment
  .github/workflows/ci.yml
  include/pybind11/detail/descr.h
  tests/test_custom_type_casters.cpp
Due: disallow-caps, check-style

refactor: const_str -> const_name
  docs/advanced/cast/custom.rst
  docs/upgrade.rst
  include/pybind11/cast.h
  include/pybind11/chrono.h
  include/pybind11/complex.h
  include/pybind11/detail/descr.h
  include/pybind11/detail/init.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/eigen.h
  include/pybind11/functional.h
  include/pybind11/numpy.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
  include/pybind11/stl.h
  include/pybind11/stl/filesystem.h
  tests/pybind11_tests.h
  tests/test_builtin_casters.cpp
  tests/test_copy_move.cpp
  tests/test_custom_type_casters.cpp
Due: disallow-caps, check-style

docs: update changelog
  docs/changelog.rst
Due: disallow-caps

Undoing trivial change.
  README.rst
Due: disallow-caps

ci: try using SETUPTOOLS_USE_DISTUTILS=stdlib
  .github/workflows/ci.yml
Due: disallow-caps

vi: replacing currently broken ICC Latest C++17 with C++14. (#3551)
  .github/workflows/ci.yml
Due: disallow-caps

fix: avoiding usage of _ if already defined (#3423)
  .github/workflows/ci.yml
  docs/advanced/cast/custom.rst
  docs/upgrade.rst
  include/pybind11/cast.h
  include/pybind11/chrono.h
  include/pybind11/complex.h
  include/pybind11/detail/descr.h
  include/pybind11/detail/init.h
  include/pybind11/detail/type_caster_base.h
  include/pybind11/eigen.h
  include/pybind11/functional.h
  include/pybind11/numpy.h
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
  include/pybind11/stl.h
  include/pybind11/stl/filesystem.h
  tests/pybind11_tests.h
  tests/test_builtin_casters.cpp
  tests/test_copy_move.cpp
  tests/test_custom_type_casters.cpp
Due: disallow-caps, check-style

fix: do not use LTS on mips64 and ppc64le
  tools/pybind11Common.cmake
Due: disallow-caps

fix: do not use LTS on mips64 and ppc64le (#3557)
  tools/pybind11Common.cmake
Due: disallow-caps

Update changelog.rst
  docs/changelog.rst
Due: disallow-caps

docs: update changelog (#3556)
  docs/changelog.rst
Due: disallow-caps

Using new `const_name` instead of `_` (related to PR #3423).
  include/pybind11/detail/smart_holder_type_casters.h
Due: disallow-caps, check-style

Introducing PYBIND11_UNDERSCORE_BACKWARD_COMPATIBILITY
  include/pybind11/detail/descr.h
  tests/test_custom_type_casters.cpp
Due: disallow-caps, check-style

fix: restore full range of _ functions
  include/pybind11/detail/descr.h
Due: disallow-caps, check-style

fix: restore full range of _ functions (#3571)
  include/pybind11/detail/descr.h
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
