Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

ci: update to setup-cmake v1.6 (#2805)
  .github/workflows/configure.yml
Due: disallow-caps

style: avoid using unintialized variables (#2806)
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/test_cmake_build/CMakeLists.txt
  tests/test_embed/CMakeLists.txt
  tools/FindEigen3.cmake
  tools/FindPythonLibsNew.cmake
  tools/pybind11NewTools.cmake
  tools/pybind11Tools.cmake
Due: disallow-caps

fix: support basic dual includes (#2804)
  CMakeLists.txt
  tests/test_cmake_build/CMakeLists.txt
  tests/test_cmake_build/subdirectory_embed/CMakeLists.txt
  tests/test_cmake_build/subdirectory_function/CMakeLists.txt
  tests/test_cmake_build/subdirectory_target/CMakeLists.txt
Due: disallow-caps

style: add clang-format file (#2310)
  .clang-format
  .github/CONTRIBUTING.md
  include/pybind11/iostream.h
  setup.cfg
Due: disallow-caps, check-style

docs: fix missing line from #2310
  include/pybind11/iostream.h
Due: disallow-caps, check-style

docs: mention that the changelog block in PR is special
  .github/pull_request_template.md
Due: disallow-caps

docs: update changelog, nicer output for script
  docs/changelog.rst
  tools/make_changelog.py
Due: disallow-caps

Simplify use of PyNumber_Index, following @rwgk's idea, and ignore warnings in >=3.8
  include/pybind11/cast.h
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

Use std::string constructor which takes size
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Fix implicit sign conversion error
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

docs: update changelog, nicer output for script (#2811)
  docs/changelog.rst
  tools/make_changelog.py
Due: disallow-caps

Reproduce mismatch between pre-3.8 and post-3.8 behavior on __index__ throwing TypeError
  tests/test_builtin_casters.py
Due: disallow-caps

Force the builtin module key to be the correct type.
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

Fix tests on 3.6 <= Python < 3.8
  include/pybind11/cast.h
Due: disallow-caps, check-style

No, I don't have an uninitialized variable
  include/pybind11/cast.h
Due: disallow-caps, check-style

Add a simple unit test to ensure all built-in keys are str
  tests/test_modules.py
Due: disallow-caps

Update the unit test so it will also run on pypy
  tests/test_modules.py
Due: disallow-caps

Run pre-commit.
  tests/test_modules.py
Due: disallow-caps

Fix use of __index__ on Python 2
  include/pybind11/cast.h
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

Force the builtin module key to be the correct type. (#2814)
  include/pybind11/detail/internals.h
  tests/test_modules.py
Due: disallow-caps, check-style

Extend test_eval_closure with weirder examples of closures for py::eval
  tests/test_eval.cpp
  tests/test_eval.py
Due: disallow-caps, check-style

When determining if a shared_ptr already exists, use a test on the weak_ptr instead of a try/catch block.
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Make types in test_int_convert more ~boring~ descriptive
  tests/test_builtin_casters.py
Due: disallow-caps

Always call PyNumber_Index when casting from Python to a C++ integral type, also pre-3.8 (#2801)
  include/pybind11/cast.h
  tests/test_builtin_casters.py
Due: disallow-caps, check-style

docs: prepare for 2.6.2
  docs/changelog.rst
Due: disallow-caps

chore: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

docs: prepare for 2.6.2 (#2820)
  .pre-commit-config.yaml
  docs/changelog.rst
Due: disallow-caps

chore: add pytest-timeout, mypy
  .appveyor.yml
  setup.cfg
  tests/requirements.txt
Due: disallow-caps

fix: avoid changing class outside of GIL
  include/pybind11/iostream.h
Due: disallow-caps, check-style

chore: prepare for the 2.6.2 release
  docs/changelog.rst
  docs/release.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

chore: prepare for the 2.6.2 release (#2821)
  docs/changelog.rst
  docs/release.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

chore: get back to work
  docs/changelog.rst
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

fix: corrected dev versioning
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

Factoring out find_registered_python_instance() from type_caster_generic::cast.
  include/pybind11/cast.h
Due: disallow-caps, check-style

Addressing review comments.
  include/pybind11/cast.h
Due: disallow-caps, check-style

Factoring out find_registered_python_instance() from type_caster_generic::cast. (#2822)
  include/pybind11/cast.h
Due: disallow-caps, check-style

Update breathe to 4.26.1, add make_tuple, make_iterator, and make_key_iterator
  docs/reference.rst
  docs/requirements.txt
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
