Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
# Standard hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace
  - id: fix-encoding-pragma

# Black, the code formatter, natively supports pre-commit
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    # By default, this ignores pyi files, though black supports them
    types: [text]
    files: \.pyi?$

# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.9
  hooks:
  - id: remove-tabs

# Flake8 also supports pre-commit natively (same author)
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear, pep8-naming]
    exclude: ^(docs/.*|tools/.*)$

# CMake formatting
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
    additional_dependencies: [pyyaml]
    types: [file]
    files: (\.cmake|CMakeLists.txt)(.in)?$

# Check static types with mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.800
  hooks:
  - id: mypy
    # The default Python type ignores .pyi files, so let's rerun if detected
    types: [text]
    files: ^pybind11.*\.pyi?$
    # Running per-file misbehaves a bit, so just run on all files, it's fast
    pass_filenames: false

# Checks the manifest for missing files (native support)
- repo: https://github.com/mgedmin/check-manifest
  rev: "0.46"
  hooks:
  - id: check-manifest
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]
    additional_dependencies: [cmake, ninja]

# The original pybind11 checks for a few C++ style items
- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|CCache
    exclude: .pre-commit-config.yaml

- repo: local
  hooks:
  - id: check-style
    name: Classic check-style
    language: system
    types:
    - c++
    entry: ./tools/check-style.sh

Converting C assert to pybind11_fail (to play safe).
  include/pybind11/detail/smart_holder_type_casters.h
Due: disallow-caps, check-style

pickle setstate: setattr __dict__ only if not empty (#2972)
  include/pybind11/detail/init.h
  tests/test_pickling.cpp
  tests/test_pickling.py
Due: disallow-caps, check-style

Fixing merge accident related to merging PR #3059 from master.
  tests/test_methods_and_attributes.py
Due: disallow-caps

Fixing very minor oversight in PR #3059.
  tests/test_methods_and_attributes.py
Due: disallow-caps

Removing `AlignConsecutiveAssignments: true`.
  .clang-format
Due: disallow-caps

tests: remove very minor oversight in PR #3059. (#3066)
  tests/test_methods_and_attributes.py
Due: disallow-caps

Disabling valgrind for now.
  .github/workflows/ci.yml
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Avoid string copy if possible when passing a Python object to std::ostream (#3042)
  include/pybind11/stl.h
Due: disallow-caps, check-style

avoid unnecessary strlen
  include/pybind11/attr.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

avoid unnecessary strlen (#3058)
  include/pybind11/attr.h
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Disabling valgrind for now. (#3068)
  .github/workflows/ci.yml
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Check unlikely error return from PyDict_DelItemString
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Convert PyDict_GetXXX to internal error checking variant
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Add a std::filesystem::path <-> os.PathLike caster.
  docs/advanced/cast/overview.rst
  include/pybind11/stl.h
  tests/CMakeLists.txt
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

Add a std::filesystem::path <-> os.PathLike caster. (#2730)
  docs/advanced/cast/overview.rst
  include/pybind11/stl.h
  tests/CMakeLists.txt
  tests/test_stl.cpp
  tests/test_stl.py
Due: disallow-caps, check-style

Check dict item accesses where it isn't already checked (#2863)
  include/pybind11/pybind11.h
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Unify cast_error message thrown by [simple|unpacking]_collector
  include/pybind11/cast.h
  tests/test_pytypes.py
Due: disallow-caps, check-style

Consolidating "Unable to convert call argument" error reporting code to guarantee uniformity.
  include/pybind11/cast.h
Due: disallow-caps, check-style

Removing `AlignConsecutiveAssignments: true`. (#3067)
  .clang-format
Due: disallow-caps

Removing `AlignConsecutiveAssignments: true`. (#3067) (#3065)
  .clang-format
Due: disallow-caps

This was meant to be PR #3065: pure clang-format changes. NO manual changes.
  include/pybind11/detail/init.h
  include/pybind11/detail/smart_holder_poc.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/trampoline_self_life_support.h
  tests/pure_cpp/smart_holder_poc_test.cpp
  tests/test_class_sh_disowning_mi.cpp
  tests/test_class_sh_factory_constructors.cpp
  tests/test_class_sh_inheritance.cpp
  tests/test_class_sh_trampoline_basic.cpp
  tests/test_class_sh_trampoline_self_life_support.cpp
  tests/test_class_sh_trampoline_shared_ptr_cpp_arg.cpp
  tests/test_class_sh_trampoline_unique_ptr.cpp
  tests/test_class_sh_unique_ptr_member.cpp
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  ubench/number_bucket.h
Due: disallow-caps, check-style

This was meant to be PR #3065: pure clang-format changes. NO manual changes. (#3073)
  include/pybind11/detail/init.h
  include/pybind11/detail/smart_holder_poc.h
  include/pybind11/detail/smart_holder_type_casters.h
  include/pybind11/trampoline_self_life_support.h
  tests/pure_cpp/smart_holder_poc_test.cpp
  tests/test_class_sh_disowning_mi.cpp
  tests/test_class_sh_factory_constructors.cpp
  tests/test_class_sh_inheritance.cpp
  tests/test_class_sh_trampoline_basic.cpp
  tests/test_class_sh_trampoline_self_life_support.cpp
  tests/test_class_sh_trampoline_shared_ptr_cpp_arg.cpp
  tests/test_class_sh_trampoline_unique_ptr.cpp
  tests/test_class_sh_unique_ptr_member.cpp
  tests/test_class_sh_virtual_py_cpp_mix.cpp
  ubench/number_bucket.h
Due: disallow-caps, check-style

init member
  include/pybind11/attr.h
Due: disallow-caps, check-style

init more members
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

add copy assignment to avoid inconsistent behavior
  include/pybind11/functional.h
Due: disallow-caps, check-style

Updating new comments to reflect new information.
  docs/advanced/pycpp/utilities.rst
  include/pybind11/iostream.h
  tests/test_iostream.cpp
Due: disallow-caps, check-style

Restoring `TestThread` code with added `std::lock_guard<std::mutex>`.
  tests/test_iostream.cpp
  tests/test_iostream.py
Due: disallow-caps, check-style

Adding iostream.h thread-safety documentation.
  docs/advanced/pycpp/utilities.rst
  include/pybind11/iostream.h
  tests/test_iostream.cpp
  tests/test_iostream.py
Due: disallow-caps, check-style

Fixing up `git rebase -X theirs` accidents.
  tests/test_iostream.cpp
Due: disallow-caps, check-style

Updating version number to reflect current plans.
  include/pybind11/detail/common.h
  pybind11/_version.py
Due: disallow-caps, check-style

Fix various typos
  .github/workflows/ci.yml
  docs/changelog.rst
  docs/compiling.rst
  docs/faq.rst
  docs/upgrade.rst
  include/pybind11/detail/class.h
  pybind11/setup_helpers.py
  tests/test_builtin_casters.py
  tests/test_kwargs_and_defaults.cpp
  tests/test_numpy_vectorize.cpp
  tests/valgrind-numpy-scipy.supp
Due: disallow-caps, check-style

docs: fix various typos (#3075)
  .github/workflows/ci.yml
  docs/changelog.rst
  docs/compiling.rst
  docs/faq.rst
  docs/upgrade.rst
  include/pybind11/detail/class.h
  pybind11/setup_helpers.py
  tests/test_builtin_casters.py
  tests/test_kwargs_and_defaults.cpp
  tests/test_numpy_vectorize.cpp
  tests/valgrind-numpy-scipy.supp
Due: disallow-caps, check-style

Adding codespell to .pre-commit-config.yaml (follow-on to PR #3075).
  .pre-commit-config.yaml
Due: none

Splitting out pybind11/stl/filesystem.h.
  CMakeLists.txt
  include/pybind11/stl.h
  include/pybind11/stl/filesystem.h
  tests/extra_python_package/test_files.py
  tests/test_stl.cpp
Due: disallow-caps, check-style

Properly including new stl subdirectory in pip wheel config.
  tests/extra_python_package/test_files.py
  tools/setup_global.py.in
  tools/setup_main.py.in
Due: disallow-caps

iwyu cleanup.
  include/pybind11/stl/filesystem.h
Due: disallow-caps, check-style

Adding PYBIND11_HAS_FILESYSTEM_IS_OPTIONAL.
  include/pybind11/stl/filesystem.h
  tests/test_stl.cpp
Due: disallow-caps, check-style

Eliminating else after return.
  include/pybind11/stl/filesystem.h
Due: disallow-caps, check-style

Adding codespell to .pre-commit-config.yaml (follow-on to PR #3075). (#3076)
  .pre-commit-config.yaml
Due: none

codespell fixes and adding .codespell-ignorelines
  .codespell-ignorelines
  .pre-commit-config.yaml
  include/pybind11/detail/smart_holder_poc.h
  include/pybind11/detail/smart_holder_type_casters.h
  tests/test_class_sh_trampoline_shared_from_this.py
Due: disallow-caps, check-style
