Repository pybind/pybind11: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, check-style

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|CCache

check-style:
  name: Classic check-style
  language: system
  entry: ./tools/check-style.sh

Introducing PYBIND11_INTERNALS_SH_DEF, replacing the approach of PR #2939. For compatibility with PR #3275. (#3283)
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

Tracking ci.yml changes from master.
  .github/workflows/ci_sh_def.yml
  .github/workflows/ci_sh_def.yml.patch
Due: disallow-caps

Enable defining custom __new__ (#3265)
  include/pybind11/pybind11.h
  tests/test_class.cpp
  tests/test_class.py
Due: disallow-caps, check-style

Fix test case with __new__
  tests/test_class.cpp
Due: disallow-caps, check-style

Adding nullptr slices
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
  include/pybind11/stl.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

chore: drop MSVC pragma (hopefully unneeded)
  include/pybind11/stl.h
Due: disallow-caps, check-style

Fix test case with __new__ (#3285)
  tests/test_class.cpp
Due: disallow-caps, check-style

Add comment to explain iterator_state template params
  include/pybind11/pybind11.h
Due: disallow-caps, check-style

Add make_value_iterator (#3271)
  docs/reference.rst
  include/pybind11/pybind11.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

Ensure PYBIND11_TLS_REPLACE_VALUE evaluates its arguments only once
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

Add ability to remove nurse/patient relationship
  include/pybind11/attr.h
  include/pybind11/detail/class.h
  include/pybind11/pybind11.h
  tests/test_call_policies.cpp
  tests/test_call_policies.py
Due: disallow-caps, check-style

Apply blacken-docs and fix language-hints
  docs/advanced/cast/custom.rst
  docs/advanced/cast/eigen.rst
  docs/advanced/cast/strings.rst
  docs/advanced/classes.rst
  docs/advanced/embedding.rst
  docs/advanced/functions.rst
  docs/advanced/pycpp/numpy.rst
  docs/advanced/pycpp/object.rst
  docs/advanced/pycpp/utilities.rst
  docs/advanced/smart_ptrs.rst
  docs/changelog.rst
  docs/classes.rst
  docs/compiling.rst
  docs/faq.rst
Due: disallow-caps

Apply suggestions from code review
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

Add blacken-docs pre-commit hook
  .pre-commit-config.yaml
Due: none

Add pycln pre-commit hook
  .pre-commit-config.yaml
  docs/benchmark.py
  docs/conf.py
Due: disallow-caps

Enable a few builtin hooks
  .pre-commit-config.yaml
Due: none

Black no longer ignores pyi files
  .pre-commit-config.yaml
Due: none

Add blacken-docs and pycln pre-commit hooks (#3292)
  .pre-commit-config.yaml
  docs/advanced/cast/custom.rst
  docs/advanced/cast/eigen.rst
  docs/advanced/cast/strings.rst
  docs/advanced/classes.rst
  docs/advanced/embedding.rst
  docs/advanced/functions.rst
  docs/advanced/pycpp/numpy.rst
  docs/advanced/pycpp/object.rst
  docs/advanced/pycpp/utilities.rst
  docs/advanced/smart_ptrs.rst
  docs/benchmark.py
  docs/changelog.rst
  docs/classes.rst
  docs/compiling.rst
  docs/conf.py
  docs/faq.rst
Due: disallow-caps

feat: Slice allowing None with py::object or std::optional (#1101)
  include/pybind11/detail/common.h
  include/pybind11/pytypes.h
  include/pybind11/stl.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

Revert "Add make_value_iterator (#3271)"
  docs/reference.rst
  include/pybind11/pybind11.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

tests: check simple iteration of pairs
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

tests: bump catch2 version
  tests/test_embed/CMakeLists.txt
Due: disallow-caps

fix: support non-copyable pairs in iteration
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

tests: check simple iteration of pairs (#3296)
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

Ensure PYBIND11_TLS_REPLACE_VALUE evaluates its arguments only once (#3290)
  include/pybind11/detail/internals.h
Due: disallow-caps, check-style

fix: regression in #3271
  include/pybind11/pybind11.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

feat: reapply fixed version of #3271 (#3293)
  docs/reference.rst
  include/pybind11/pybind11.h
  tests/test_sequences_and_iterators.cpp
  tests/test_sequences_and_iterators.py
Due: disallow-caps, check-style

Fix `pybind11::object::operator=` to be safe if `*this` is accessible from Python
  include/pybind11/pytypes.h
Due: disallow-caps, check-style

fix(build): avoid a possible warning about shadowed variables and changing behaviors (#3220)
  tools/pybind11Tools.cmake
Due: disallow-caps

Add `custom_type_setup` attribute
  docs/advanced/classes.rst
  include/pybind11/attr.h
  include/pybind11/detail/class.h
  tests/CMakeLists.txt
  tests/test_custom_type_setup.cpp
  tests/test_custom_type_setup.py
Due: disallow-caps, check-style

CMake: react to python version changes
  tools/pybind11NewTools.cmake
Due: disallow-caps

Incorporated feedback
  tools/pybind11NewTools.cmake
Due: disallow-caps

fix(cmake): reduce chance for variable collision
  tools/pybind11NewTools.cmake
Due: disallow-caps

Add `custom_type_setup` attribute (#3287)
  docs/advanced/classes.rst
  include/pybind11/attr.h
  include/pybind11/detail/class.h
  include/pybind11/pytypes.h
  tests/CMakeLists.txt
  tests/test_custom_type_setup.cpp
  tests/test_custom_type_setup.py
Due: disallow-caps, check-style

docs: update CHANGELOG
  docs/changelog.rst
Due: disallow-caps

fix(cmake): reduce chance for variable collision (#3302)
  tools/pybind11NewTools.cmake
Due: disallow-caps

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  check-style: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
